{% extends "core/base.html" %}
{% load i18n components %}
{% block content %}
  <header class="flex flex-row items-center justify-between w-96">
    <h2 class="text-3xl font-thin">timer sequences</h2>
    <a href="{% url 'create_sequence' %}" class="{% cx 'button' %}">{% translate "+ add one" %}</a>
  </header>
  {% if sequences %}
    <div class="flex flex-col gap-y-4 mt-6">
      {% for sequence in sequences %}
        <form action="{% url 'run_sequence' sequence_id=sequence.id %}"
              method="post"
              class="w-64">
          {% csrf_token %}
          {% include "sequences/single-sequence.html" with sequence_id=sequence.id sequence_name=sequence.name durations=sequence.durations.all %}
        </form>
      {% endfor %}
      {% include "sequences/sequence_menu.html" %}
    </div>
  {% endif %}
{% endblock content %}
