{% extends "core/base.html" %}
{% load i18n components %}
{% block content %}
  <header class="flex flex-row items-center justify-between w-96">
    <h2 class="text-3xl font-thin">timer sequences</h2>
    <a href="{% url 'create_sequence' %}" class="{% cx 'button' %}">{% translate "+ add one" %}</a>
  </header>
  {% if sequences %}
    <div class="flex flex-col gap-y-4 mt-6">
      {% for sequence in sequences %}
        {% include "sequences/single-sequence.html" with sequence=sequence only %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
