<div class="relative rounded dark:bg-neutral-800 p-4 shadow-md dark:shadow ring ring-rose-800 dark:ring-rose-700/40 dark:shadow-rose-700/40 size-64 flex flex-col justify-start items-center overflow-hidden grow-0"
     title="{{ sequence_name }}">
  {% for timer in durations %}
    {% if forloop.first %}
      <div class="border-6 border-rose-300 size-24 rounded-full flex flex-col items-center justify-center shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-12">
          <use class="dark:block hidden" href="#icon.play_filled"></use>
          <use class="dark:hidden block" href="#icon.play"></use>
        </svg>
      </div>
      <h3 class="font-bold text-xl text-center mt-4 shrink-0 truncate self-start w-full"
          title="{{ sequence_name }}">{{ sequence_name }}</h3>
      <div class="text-5xl font-black text-center tabular-nums">{{ timer.duration }}</div>
    {% else %}
      <div class="font-black tabular-nums mt-2">{{ timer.duration }}</div>
    {% endif %}
  {% endfor %}
  <div class="absolute h-3/12 left-0 right-0 -bottom-0.5 bg-white dark:bg-neutral-800 mask-t-from-0%"></div>
</div>
